.container {
    max-width: 385px;
    margin: 0 auto;
}

.content {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.user-avatar {
    border: none;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.username {
    font-size: 18px;
    font-weight: 500;
    margin-left: 1rem;
}

.verified-user::after {
    content: url(../assets/star.png);
    display: flex;
    align-items: center;
    margin-left: 0.55rem;
}