.search-page {
    color: #fff;
    background-color: var(--bg-color);
    height: 100vh;
    &__input-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    &__input {
        background-color: var(--input-color);
        padding: 0.35rem;
        padding-left: 0.75rem;
        width: 100%;
        border-radius: var(--input-radius);
        margin-left: 0.75rem;
    }
    &__result-item {
        display: flex;
        padding: 0.5rem 1rem 0.75rem;
    }
    &__username {
        font-size: 14px;
        font-weight: 400;
    }
}